* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
}

.player ,.photo{
    transform: rotateY(180deg);
}

.photo-booth {
    position: absolute;
    bottom: 0;
}

.webcam-video {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

