
body {
    width: 100vw;
    height: 100vh;
}
.LoaderContent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    top: 50vh;
    left: 0;
    z-index: 500;
    color: #fff;
}