@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #0f111a;
    z-index: 200;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(112, 102, 102);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.Camera img {
     width:40px;
     height: 40px;
     background-color:rgb(240, 239, 243);
     border-radius: 10px;
     margin: 10px;
     
}

.Camera img:hover {
    background-color: rgb(211, 204, 228);
}




#Copyright {
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-content: center;
    margin-left: -8px;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #121831;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #080a11;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #080a11;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #c7d8e0;
    background: rgb(33, 20, 70);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #57303b;
}
ul ul a {
    font-size: 0.9em ;
    padding-left: 30px ;
    background: #572834;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    margin-left: -18.5vw;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {

    margin-left: 0;
}



a[data-toggle="collapse"] {
    position: relative;
}

#title-paragraph {
    font-size: 16px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}



@media (max-width: 800px) {
    #sidebar {
        margin-left: -31.5vw;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


